html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-weight: 800;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h2 {
  font-size: 27px;
  font-weight: 800;
}

button {
  width: 167px;
  height: 56px;
  radius: 28px;
}

body {
  /* height: 1844px; */
  /* width: 1440px; */
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1724px;
  padding-left: 165px;
  padding-right: 165px;
  /* margin-top: 24px; */
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 862px;
}
#skilled {
  margin-bottom: 186px;
}

#header-left {
  width: 460px;
  display: flex;
  margin-top: 24px;
  margin-left: 165px;
  /* padding: 20px; */
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: #f02aa6; */
}

#header-left h1 {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 71px;
  color: #13183f;
}

#header-left p {
  margin-top: 29px;
  margin-bottom: 40px;
  margin-right: 134px;
}

#header-left button {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
}

#header-left button:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
}

#header-right button {
  background: #13183f;
  border-radius: 28px;
  margin-right: 165px;
  margin-top: 24px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

#header-right button:hover {
  background: #666ca3;
}

#header-right {
  align-items: flex-end;
  width: 810px;
  display: flex;
  flex-direction: column;
  background-image: url(./images/image-hero-desktop.png);
  background-size: 1158px 946px;
  background-position: right -23vw bottom 7vh;
  background-repeat: no-repeat;
  overflow: hidden;
}

section {
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 322px 322px;
  grid-gap: 80px 30px;
  margin-left: 165px;
}

.block.one {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 15px;
}
.block.one h1 {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  margin-top: 64px;
  padding-right: 50px;
  text-align: left;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

.block {
  padding-left: 32px;
  padding-right: 32px;
  width: 290px;
  height: 322px;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;
}

.block a {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f74780;
  text-decoration: none;
}

.block a:hover {
  color: #ffa7c3;
}

.block img {
  margin-top: -28px;
  width: 56px;
  height: 56px;
  margin-bottom: 36px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 180px;
}

.block h1 {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 24px;
  color: #13183f;
}

.block p {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 24px;
  color: #83869a;
}

.block.four p {
  margin-bottom: 52px;
}

.block.three p {
  margin-bottom: 52px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  margin-top: 140px;
  background: #13183f;
}

footer h1 {
  margin-left: 165px;
  font-size: 27px;
  font-weight: 800;
  color: #ffffff;
}

footer button {
  margin-right: 165px;
  bottom: 0%;
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  border-radius: 28px;
  ont-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

footer button:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  border-radius: 28px;
}
